body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #1f1c2c, #928dab);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
  animation: fadeIn 1.5s ease-in-out;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  width: 260px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.15);
}

.chart-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

input[type="file"] {
  padding: 12px;
  margin-top: 20px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

button {
  padding: 12px 25px;
  margin-top: 20px;
  background: linear-gradient(90deg, #00c9ff, #92fe9d);
  color: #000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 6px 0;
  color: #ddd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .summary {
    flex-direction: column;
    align-items: center;
  }
}
